﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ItemDetailTab.ascx.cs" Inherits="Modules_SanchiCommerce_AspxItemDetailTab_ItemDetailTab" %>
<script type="text/javascript">
    var itemSKU = '<%=itemSKU%>'; 
</script>
<div class="cssClassProductDetailInformation">
    <asp:Literal ID="ltrItemDetailsForm" runat="server" EnableViewState="false"></asp:Literal>
</div> 