﻿.cssClassLatestItemList .cssClassAddtoCard,.cssClassLatestItemList .cssClassWishListButton{
    width: 100%;
}
.cssClassLatestItemList .cssClassAddtoCard button{ position:inherit !important; right:0;}
.itemSelect
{
    /*	position:relative; */
    width: 170px !important;
	display: inline-block;
}
.itemSelect .selectBox
{
    position: relative;
    background: #f7fafb url(../images/select_arrow.png) no-repeat 98% center;
    border: 1px solid #d7d8d8;
    font: 11px Arial, Helvetica, sans-serif;
    line-height: 22px;
    padding-left: 5px;
}
.cssClassViewPerPage .itemSelect
{
    float: right;
    width: 60px !important;
}
.addtocarts {float:left;width:50%}
.cssClassHalfColumn .selectBox
{
    width: 120px;
    padding-right: 20px;
}
.dropDown
{
    background: #fff;
    color: #5e5e5e;
    position: absolute;
    z-index: 1;
    border: 1px solid #d7d8d8; /*width:58px;*/
    
}


.cssClassViewPerPage .itemSelect .dropDown li
{
    width: auto !important;
    min-width:44px;
}
.dropDown:hover, .dropDown li:hover, .itemSelect .selectBox:hover
{
    cursor: pointer;
}
.dropDown li
{
    z-index: 1;
    padding: 0 7px;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #e9e9e9;
}
.dropDown li:last-child
{
    border-bottom: none;
}
.dropDown li:first-child
{
    border-top: none;
}
.dropDown li:hover
{
    background: #eaeaea;
}
.dropDown li span
{
    /*	padding-left:5px;*/
    font: 11px Arial, Helvetica, sans-serif;
    line-height: 22px;
	color:#686868;
}

.selected
{
    background: #fff;
}
#divLatestItemsHeader{ /*padding:30px 1.25% !important;*/}
.cssClassLatestItemList .classInfo .ItemsInfoClass{ /*width:75%; float:right;*/}
.ItemsInfoClass ul li h2{ /*font-size:18px; font-weight:bold;*/}
.cssClassLatestItemList .ItemsImageClass{ /*float:left; margin-right:20px; width:20%;*/}
/*{color: #910000;
    font: 18px Arial,Helvetica,sans-serif;
    margin: 0 0 10px;
    text-transform: capitalize;}*/
.latest-wrap{ /*padding:20px; padding-bottom:0;*/}
.cssClassCompareButton{ display:none !important;}
.cssClassLatestItemList .classInfo .sfButtonwrapper{ margin:10px 0 5px 0; text-align:center;}
.cssClassLatestItemList .classInfo .sfButtonwrapper button.cssClassOutOfStock{background: none repeat scroll 0 0 transparent !important;
    border: medium none;
    color:#F00!important;
    cursor: default;
    /*font: 14px Arial,Helvetica,sans-serif;*/
    margin: 0;
    padding:0px 0px 0 0;
    text-align: center;
    text-shadow: none !important;
    /*text-transform: uppercase;*/}
.cssClassLatestItemList .classInfo .sfButtonwrapper button.cssClassOutOfStock span{ color:#f00!Important;}
.cssClassLatestItemList .classInfo .classQuantity{ /*margin-bottom:10px;*/}
.cssClassLatestItemList .classInfo .cssClassCostVariants { margin-bottom:5px;}
.classQuantity .classQty {background-color: #fff;-webkit-box-shadow: inset 0 1px rgba(0,0,0,.1);-moz-box-shadow: inset 0 1px rgba(0,0,0,.1);
                          box-shadow: inset 0 1px rgba(0,0,0,.1);border: solid 1px #d9d9d9;color:#000}
.cssClassLatestItemList .classInfo .classQuantity span{ margin-right:5px;}
.cssClassLatestItemList .classInfo .ItemsInfoClass li.cssClassAvailability{ margin:5px 0;}
.cssClassLatestItemList .classInfo .ItemsInfoClass li.cssClassAvailability b{ color:#910000;}
.cssClassLatestItemWrapper .classInfo .classViewDetails{ margin:0 0 10px 152px;}
.cssClassLatestItemList .classInfo .ItemsInfoClass .sfListmenu select{width: 90%;padding: 2px;border-radius: 0;}
.cssClassLatestItemWrapper .dropDown li{ float:left; width:91.4%}
#divlatestItemsList { margin-bottom:20px;}
#ddlLatestSort{ float:right;}
.cssClassRadio label{ margin-left:5px;}
.cssClassItemHeader .sort select, .cssClassViewPerPage select { display:inline-block !important;}

.cssClassLatestItemWrapper table {
    width: 100%;
}

.cssClassLatestItemWrapper .classInfo {
    border:1px solid #ededed;
	border-top:none;
	border-left:none;
	margin:0 1.25% 30px;
    position: relative;
    background: #fff;
	width:46.25%;
}

    .cssClassLatestItemWrapper .classInfo .itemImageClass {
        border: 1px solid #ccc;
        margin: 10px;
        width: 18%;
        float: left;
    }

    .cssClassLatestItemWrapper .classInfo .itemInfoClass {
        margin-top: 10px;
    }



    .cssClassLatestItemWrapper .classInfo .classViewDetails {
        margin: 0 0 20px 152px;
		display:none;
    }

        .cssClassLatestItemWrapper .classInfo .classViewDetails span:hover {
            text-decoration: none;
        }

    .cssClassLatestItemWrapper .classInfo .classQuantity input {
        width: 30px;
    }

    .cssClassLatestItemWrapper .classInfo .cssClassOutOfStock {
        float: left;
    }

        .cssClassLatestItemWrapper .classInfo .cssClassOutOfStock button {
            padding: 0px !important;
        }
.width50{ width:120px; display:inline-block;}
#handpts{ cursor:pointer;}

/*.cssClassLatestItemList .ItemsImageClass img
{
    background: url(../images/loading.gif) no-repeat;
}
*/

