﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ResponseHandling.ascx.cs" Inherits="Modules_SanchiCommerce_PayUMoney_ResponseHandling" %>

<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>