﻿.checkin_box{background:#ccc;color:#333;}
.checkinpopup h2{font-size:24px;}
 .leftdiv h2{    margin-top: 14px; margin-left: 10px; font-size:25px; margin-bottom:25px;   font-weight: 600;}
.rating input[type="button"]{width:25px;border:none;}
.rating {display:inline; height: 20%;}
#CountCharacters{height:10%;}
.UserReview {float: left;width: 94%;}
.user_detail{padding:5px 0px;}
.review_comment{padding:0 0 10px 0;}
#checkin_review h2{background: #08c; color: #fff; padding: 5px 5px 5px 15px;text-transform: uppercase;font-size: 18px;}
#checkin_review a{color:#fff;}
#txtUserNm {width:100%;  margin-top: 25px;  height: 30px;}
#checkin_review  {margin-bottom:10px;margin-top:10px; background: #069;padding: 5px 5px 5px 0;position: relative; left: -11px; font-family: Rokkitt;width: 103%;}
#cancelbtn2{ width: 26%;background: #0088cc; color: #FFF;height: 44px; font-size: 16px;margin-left: 15px;}
#submit_button,#update_button{color:#fff; background: #455480; margin-right:15px;font-size: 16px;width: 26%;height: 38px;}
.fa-sign-in{ font-size:18px;margin-right: 15px;}
.fa-times-circle { font-size: 24px;}
#UserTextBox {margin-bottom:25px;}
#UserCommentBox {width:86%;height: 40%; }
#ReviewForm h2:hover{box-shadow: inset -1px -22px 38px -1px rgba(0,0,0,0.61);}
#ReviewF h2:hover{ box-shadow: inset -1px -22px 38px -1px rgba(0,0,0,0.61);}
#ReviewF h2, #ReviewForm h2 { background: #08c; color: #fff; padding: 10px;font-size: 20px; border-radius: 5px;text-align: center;}
#ReviewF a, #ReviewForm a{color:#fff;}
#ReviewF, #ReviewForm  {margin-bottom:10px;margin-top:10px; position: relative; font-family: Rokkitt;width: 100%;}
.btntwo {height:20%; margin-top: 7%;}
#LoginPop {min-height: 214px!important;max-height: 387px!important;max-width: 300px!important;}
/*added by jyoti for Login popup*/
#checkinpopup {min-height: 381px!important;max-height: 500px!important;max-width: 350px!important;}
/*#checkinpopup { background:#fff;  width: 35%!important; height:50%!important;position:absolute; border:none; }*/
#ctext{width: 100%;resize:none;height: 82%;}
.leftdiv{margin-top: 3%; margin-left: 5%;height:383px;}
#submit_button .fa-angle-right { margin-left: 16px; font: normal normal normal 20px/1 FontAwesome;}
#cancelbtn2 .i-close{font-size: 12px; margin-left: 16px; }
.cssClassCloseIcon .cssClassClose {/*left:94.2%;*/ left:88.2%; top: 4%; border-radius:0px;}
.Rvhear { border-bottom: solid 1px #eee; margin-bottom:17px; height: 10%;width:95%;padding-top: 2%;}
.Rvhear h2 { display: -webkit-inline-box; }
.ui-widget-overlay {height: 5455px!important;}
#checkinpopup { top: 50%;left: 50%;transform: translate(-50%, -50%); background:#fff; }
#LoginPop {top: 50%;left: 50%;transform: translate(-50%, -50%); background:#fff; }
#PopupHeader {height:22%;font-size:19px;background:#f7931d;}
#PopupHeader h2{color:#fff; font-size: 18px; text-align:center;padding-top: 6px;font-weight:300; padding-bottom:6px;}
#discription{padding: 21px;}
#discription p{font-size: 13px;text-align: center;}
#sub_btn{     margin-top: 1%;text-align: center;}
#Login_button:hover {
    box-shadow: inset -1px -22px 38px -1px rgba(0,0,0,0.61);
}
#Login_button {text-transform: uppercase;color:#fff;background: #0088cc;font-size: 17px;font-weight: 300;padding-right: 26px;
padding-bottom: 9px;padding-top: 9px;padding-left: 12px;box-shadow: -1px 0px 1px 1px #fff;}
    #CancleBut {float:right; margin-right: 10px; margin-top: -4%;}
.fa-times-circle {    margin-top: -14%;}
/*ended*/
@media only screen and (max-width : 320px) {
    /*added by jyoti for Login popup*/
    /*#checkinpopup {   height: 50%!important;width: 74%!important;}*/
    .btntwo {margin-top:3%}
    #UserCommentBox {height: 40%;}
    .leftdiv {margin-left: 8%;}
     #submit_button, #cancelbtn2 {font-size: 15px;width: 90%;height: 38px;margin-left:0%; margin-right:0%; }
    #cancelbtn2 {margin-top: 3%;}
    .leftdiv h2{font-size: 17px; margin-top: 7px; margin-bottom: -2px;}
    /*#ctext {height: 61%;}*/
    .Rvhear {margin-bottom: 9px; width: 88%;}
    /*for Anonymous user*/
    #LoginPop .cssClassCloseIcon .cssClassClose {left: 86.2%;height: 15%;width: 14%; background:none;}
    #LoginPop {width: 177px !important;height: 183px !important;}
    #PopupHeader {height:20%;}
    #CancleBut{    margin-top: -9%;}
    #PopupHeader h2 {font-size: 15px;}
    #discription {height:57%; padding: 4px;}
    #discription p {font-size: 11px;margin-top:5%;margin-bottom:5%;}
    #sub_btn {height:20%; margin-top:0%}
    #sub_btn .fa{    margin-top: 2%; }
    #Login_button {font-size: 15px;font-weight: 300;padding-right: 9px;padding-bottom: 3px;padding-top: 2px;padding-left: 9px;}
}
@media only screen and (max-width:768px) and (min-width: 321px){
    /*#checkinpopup { height: 48%!important;width: 60%!important;}*/
    #UserCommentBox {height: 30%;}
    .leftdiv {margin-left: 8%;}
    .cssClassCloseIcon .cssClassClose span i {margin: 3px;}
     #submit_button, #cancelbtn2 { font-size: 19px; width: 89%;margin-left:0%; margin-right:0%; }
    #cancelbtn2 {margin-top: 5%;}
    .leftdiv h2{font-size:18px; margin-top:12px; margin-bottom:3px;}

    /*#ctext {height: 60%;}*/
     .Rvhear {width: 88%;}
     /*for Anonymous user*/
     #LoginPop .cssClassCloseIcon .cssClassClose {left: 88.2%;height: 12%;width: 12%; background:none;}
    #PopupHeader {height:20%; font-size:14px;}
    #PopupHeader h2 {font-size:16px;}
    #CancleBut {position: relative;margin-top: -6%;}
    #discription {padding: 15px;}
    #sub_btn {height:20%; margin-top:0%}
    #sub_btn .fa {padding-top: 9px;}
    #Login_button {font-size: 15px;padding-right: 9px;padding-bottom: 3px;padding-top: 1px;padding-left: 9px;}
    #discription p {font-size: 12px;}
        }
@media only screen and (max-width:1024px) and (min-width: 769px) {
    /*#checkinpopup {   height: 50%!important; width: 40%!important;}*/
    #UserCommentBox {height: 43%;}
    .leftdiv {margin-left: 10%;}
     #submit_button, #cancelbtn2 { font-size: 19px; width: 90%;margin-left:0%;margin-right: 8%; }
    .leftdiv h2{font-size:21px; margin-top:12px; margin-bottom:3px;}
  
    /*#ctext { height: 71%;}*/
    .Rvhear {width: 88%;}
    /*for Anonymous user*/
    #LoginPop .cssClassCloseIcon .cssClassClose {left: 89.2%;height: 15%;width: 11%;background:none;}
    #PopupHeader {height:20%; font-size:14px;}
    #PopupHeader h2 {font-size:16px;}
    #CancleBut {position: relative;margin-top: -4%;}
    #discription {padding: 15px;}
    #sub_btn {height:20%; margin-top:0%}
    #sub_btn .fa {padding-top: 9px;}
    #Login_button {font-size: 19px;padding-right: 12px;padding-bottom: 5px;padding-top: 5px;padding-left: 12px;}
    #discription p {font-size: 15px;}
    
}
@media only screen and  (min-width: 1024px) {
    /*#checkinpopup {height: 45%!important;width: 30%!important;}*/
    #UserCommentBox {height: 43%;}
    .i-close {margin: 15%!important;}
    .leftdiv {margin-top: 1%;}
    .Rvhear {margin-bottom: 15px;}
    .leftdiv {margin-left: 10%;}
     #submit_button, #cancelbtn2 { font-size: 19px; width: 90%;margin-left:0%;margin-right: 8%; }
    .leftdiv h2{font-size:21px; margin-top:12px; margin-bottom:3px;}

    /*#ctext { height: 74%;}*/
    .fa-times-circle { margin-top: 0px; }
    .Rvhear {width: 88%;}
    /*for Anonymous user*/
    #LoginPop .cssClassCloseIcon .cssClassClose {left: 91.2%;height: 15%;width: 9%;background:none;}
    #PopupHeader {height:20%; font-size:14px;}
    #PopupHeader h2 {font-size:16px;}
    #CancleBut {position: relative;margin-top: -4%;}
    #discription {padding: 15px;}
    #sub_btn {height:20%; margin-top:0%}
    #sub_btn .fa {padding-top: 9px;}
    #Login_button {font-size: 19px;padding-right: 12px;padding-bottom: 5px;padding-top: 5px;padding-left: 12px;}
    #discription p {font-size: 15px;}
}


