﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CategoryBreadCrumb.ascx.cs"
    Inherits="Modules_SanchiCommerce_AspxCategoryLister_CategoryBreadCrumb" %>
<div id="breadcrumb" class="breadCrumb clearfix" runat="server"></div>